# Database
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/viveres_app

# Security
SECRET_KEY=your-super-secret-key-here
ACCESS_TOKEN_EXPIRE_MINUTES=11520

# CORS
# En producción, cambia esto por tu dominio real
BACKEND_CORS_ORIGINS=["http://localhost:3000", "http://127.0.0.1:3000"]

# Project
PROJECT_NAME=ViveresApp
API_V1_STR=/api/v1
